@charset "UTF-8";

*{
	font-family: "맑은 고딕";
}

a{
	text-decoration: none;
	color : black;
}

body {
	background-color: #073763;
}

.join-title{
	margin-bottom: 50px;
	text-align: center;
}

.join-title  a{
	color : #073763;
}

.join-form{
	position : absolute;
	top : 350px;
	left : 50%;
	transform : translate(-50%, -50%);
	text-align: left;
	border : 1px solid black;
	border-radius: 15px;
	padding : 30px;
	background-color: white;
}

.join-result{
	position : absolute;
	top : 300px;
	left : 50%;
	transform : translate(-50%, -50%);
	text-align: center;
}

.input-box {
	position: relative;
	margin-top: 15px;
	line-height: 200%;
}

.input-box-includeText {
	position: relative;
}

.input-box > input, .input-box-includeText > input{
	background: transparent;
	border : solid 1px #ccc;
	border-radius : 5px;
	font-size: 14pt;
	width: 300px;
	height: 30px;
	margin: 0;
}

.input-box > select{
	width : 300px;
	padding : .8em .5em;
	border: solid 1px #ccc;
	border-radius: 5px;
}

.confirm-box, .confirmID-box{
	height: 30px;
	width: 60px;
	position: relative;
	top: -2px;
	border : none;
	border-radius: 5px;
	font-size: 8pt;
}

.available{
	height: 30px;
	width: 70px;
	position: relative;
	top: -2px;
	border : none;
	border-radius: 5px;
	background-color: #999999;
}

.input-label {
	font-weight: normal;
	font-size: 9pt;
}

.input-label-includeText {
	font-weight: normal;
	font-size: 9pt;
	padding-bottom: 30px;
}

td , th{
	padding: 10px;
}

input::placeholder{
	color:#ccc;
	font-size: 10pt;
	margin-left: 10px;
}

.join-box > button{
	background-color: #2986cc;
	border : none;
	border-radius: 5px;
	box-shadow : none;
	color : white;
	font-size: 14px;
	width: 310px;
	height: 30px;
}

.modify-box > button{
	border : none;
	border-radius: 5px;
	box-shadow : none;
	color : white;
	font-size: 14px;
	width: 150px;
	height: 30px;
}

.modify{
	background-color: #2986cc;
}

.back{
	background-color: #e45252;
}

.okay-img  img{
	width : 100px;
	height: 100px;
}

.join-button > button{
	border : none;
	border-radius: 5px;
	box-shadow : none;
	color : white;
	font-size: 14px;
	width: 150px;
	height: 40px;
}

.index-button{
	margin-right : 30px;
	background-color: #ccc;
}

.login-button{
	background-color: #2986cc;
}