@charset "UTF-8";

/* a:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
}*/

*{
	font-family: "맑은 고딕";
	text-decoration: none;
}

.login-title{
	margin-bottom: 50px;
}

.login-title a{
	color: #073763;
	text-decoration: none;
}

body {
	background-color: #073763;;
}

.login-form{
	position : absolute;
	top : 45%;
	left : 50%;
	transform : translate(-50%, -50%);
	text-align: center;
	border : 1px solid black;
	border-radius: 15px;
	padding : 60px;
	background-color: white;
}

.input-box {
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
}

.input-box > input{
	background: transparent;
	border : solid 1px #ccc;
	border-radius : 5px;
	box-shadow : 1px 1px 1px 1px gray;
	pading : 20px 0px 5px 0px;
	font-size: 14pt;
	width: 200px;
	height: 30px;
}

input::placeholder{
	color:#ccc;
	font-size: 10pt;
	margin-left: 10px;
}

.check-id{
	position : absolute;
	top : 90%;
	left: 0;
}

.check-id > input{
	text-align: left;
}

.check-id > font{
	text-align: left;
	color: #5b5b5b;
}

.login-button > input{
	background-color: #073763;
	border : none;
	border-radius: 5px;
	box-shadow : none;
	color : white;
	font-size: 12px;
	font-family : "맑은 고딕";
	font-weight : bold;
	padding: 6px 15px;
	width : 250px;
	height: 35px;
}

.go-join{
	float : left; 
}

.go-join > img{
	vertical-align: bottom;
}

.find-pwd{
	float : right;
}

	
